@import "_reset_normilize.scss";
@import "_colors.scss";

///////////////////////////////////////
$font-size-base: 14px;
$font-size-large: ceil(($font-size-base * 1.25)); // ~18px
$font-size-small: ceil(($font-size-base * 0.85)); // ~12px
// base styles
html{
  //color: $text-color;
  //font-size: $font-size-base;
  //font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

$h1: $font-size-base * 2.6; // ~36px
$h2: $font-size-base * 2.15; // ~30px
$h3: $font-size-base * 1.7; // ~24px
$h4: $font-size-base * 1.25; // ~18px
$h5: $font-size-base;
$h6: $font-size-base * 0.85; // ~12px



h1{font-size: $h1;}
h2{font-size: $h2;}
h3{font-size: $h3;}
h4{font-size: $h4;}
h5{font-size: $h5;}
h6{font-size: $h6;}

body{
  //background-color: $body-bg;
}

a{
  color: $link-color;
  text-decoration: none;
  transition: color .2s;
  &:not([disabled]):hover{
    color: $link-color-hover;
    //text-decoration: underline;
  }
}

/*button, a{
  &[disabled]{
    opacity: .7;
  }
}*/

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}
ul, menu{
  margin: 0;
  padding: 0;
  list-style: none;
}
svg{
  position: relative;
  height: 100%;
  width: 100%;
  fill: currentColor;
}
img{
  position: relative;
  display: block;
  max-height: 100%;
  max-width: 100%;
}

/////////////////////////////////////
// tools styles
@import "_states.scss";

/////////////////////////////////////
// layout styles


@import "_buttons.scss";