@charset "UTF-8";
/*
 * styles.css
 * CommanderTables
 * Created by MitoZ in 08.01.17
*/
@import "CT_APP/App/Layout/_colors";
@import '~sass-material-colors/sass/sass-material-colors';

.login-logoWr{
  box-sizing: border-box;
  height: 100px;
  width: 480px;
  margin-bottom: 20px;
  perspective: 1000px;

  &:hover .login-logo {
    transform: rotateY(180deg);
  }
}
.login-logo{
  transition: 1s;
  transform-style: preserve-3d;

  position: relative;
}
.login-logo-icon{
  fill: inherit;
  stroke: inherit;
  height: 80px;
  width: 80px;
  color: $primary-color;
}
.login-logo-icon, .login-logo-text{
  backface-visibility: hidden;
}
.login-logo-text{
  transform: rotateY(180deg);
  line-height: 80px;
  position: absolute;
  top: 0;
  width: auto;
  background-color: transparentize(material-color('grey', '50'), 0.2);
}


.login-Wr{
  padding: 50px;
}
.login-contentWr{
  //width: 680px;
  width: 480px;
  max-width: 100%;
  md-input-container{
    margin: 5px 8px;
  }
}
.login-form{
  margin-top: 10px;
}
.login-alt-wr{
  position: relative;
  margin: 5px 8px 5px 8px;
}
.login-alt-title{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  color: fade_out($black, .5);
  &:after{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $border-color;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
  }
}
.login-alt-title-text{
  position: relative;
  display: block;
  text-align: center;
  padding: 5px;
  background-color: $white;
  z-index: 2;
}
.login-alt-socials-item{
  min-width: 50px;
  flex-grow: 0;
}
.login-alt-anon-btnWr{
  align-self: flex-end;
  min-width: 270px;
}
.login-alt-anon-icon{
  height: 40px;
  width: 40px;
  margin: 5px;
}
.login-alt-anon-btn{
  margin-right: 0;
  margin-left: 0;
  text-transform: none;
  color: fade_out($black, .5);
  min-width: 50px;
  max-width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0;
  padding-right: 0;
  transition: max-width .4s;
}
.login-alt-anon-btnWr:focus .login-alt-anon-btn,
.login-alt-anon-btn:hover{
  padding-left: 5px;
  padding-right: 5px;
  max-width: 100%;
  .login-alt-anon-icon{
    margin-left: 10px;
    margin-right: 0;
  }
}

.login-recoveryAccountLinkWr{
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
  text-align: right;
}

@media screen and (max-device-width: 480px){//todo: переписать/пересмотреть
  body, ui-view{
    height: 100%;
    min-width: 320px;
    overflow: auto;
  }
  ui-view{
    position: relative;
    width: 100%;
  }
  .login-Wr{
    padding: 0;
    width: 100%;
  }
  .login-contentWr{
    width: 100%;
    md-input-container{
      margin: 5px 8px;
    }
  }
}