<header>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2 class="" layout="row" layout-align="start center">
        <md-icon><img src="Images/CT_icon_144x210.png" alt="Commander Tables" /></md-icon>
        <span>Commander Tables</span>
      </h2>
      <span flex></span>
      <!--<md-button class="md-raised" aria-label="Learn More">
        Learn More
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Favorite">
        <md-icon><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-ei-like"></use></svg></md-icon>
      </md-button>-->
    </div>
  </md-toolbar>
</header>
<md-content class="login-Wr" layout="column" layout-align="center center" layout-padding>
  <div class="login-contentWr" layout="column" md-colors="{'background': 'default-background-200'}">
    <md-tabs md-border-bottom  md-dynamic-height>
      <md-tab label="Log In">
        <md-content class="md-padding" layout="column">
          <form ng-submit="vm.login()" layout="column" name="loginForm">
            <md-input-container>
              <label>Email</label>
              <input id="loginInput" name="loginMail" ng-model="vm.login.mail" required type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
              <div ng-messages="loginForm.loginMail.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">This is not valid email address.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input id="passInput" name="loginPass" ng-model="vm.login.pass" required type="password">
              <div ng-messages="loginForm.loginPass.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-button class="l-btn" md-colors="{'background': 'default-primary-300'}" type="submit">
              <span class="l-btn-text l-btn-text-light">Login</span>
            </md-button>
          </form>
          <div class="login-alt-wr" layout="column">
            <p class="login-alt-title"><span class="login-alt-title-text">Or Log In Using:</span></p>
            <ul class="login-alt-socials-list" layout="row" layout-align="start center" layout-wrap>
              <li class="login-alt-socials-item" flex="noshrink">
                <md-button class="md-fab md-mini" md-colors="{'background': 'red-500'}" title="Google" aria-label="Google" ng-click="vm.login('google')">
                  <md-icon>
                    <svg class="l-btn-text l-btn-text-light"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-ei-sc-google-plus"></use></svg>
                  </md-icon>
                </md-button>
              </li>
              <li class="login-alt-socials-item" flex="noshrink">
                <md-button class="md-fab md-mini" md-colors="{'background': 'indigo-500'}" title="Facebook" aria-label="Facebook" ng-click="vm.login('facebook')">
                  <md-icon>
                    <svg class="l-btn-text l-btn-text-light"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-ei-sc-facebook"></use></svg>
                  </md-icon>
                </md-button>
              </li>
              <li class="login-alt-socials-item login-alt-anon-btnWr" flex="noshrink" layout="row" layout-align="end center" ng-click="vm.login('anon')">
                <md-button class="md-flat login-alt-anon-btn" layout="row" layout-align="end center" md-colors="{'background': 'grey-200'}">
                  Log in as an anonymous user <svg class="login-alt-anon-icon" flex="noshrink"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ico-custom-user-icon"></use></svg>
                </md-button>
              </li>
            </ul>
          </div>
          <!--<div class="login-alt-wr">
            <p class="login-alt-title"><span class="login-alt-title-text">Or Log in with:</span></p>
          </div>-->
        </md-content>
      </md-tab>
      <md-tab label="Sign up">
        <md-content class="md-padding">
  
          <form ng-submit="vm.register()" layout="column" name="regForm">
            <md-input-container>
              <label>Email</label>
              <input id="regLoginInput" name="regMail" ng-model="vm.reg.mail" required type="email" ng-pattern='/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/'>
              <div ng-messages="regForm.regMail.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">This is not valid email address.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Password</label>
              <input id="regPassInput" name="regPass" ng-model="vm.reg.pass" required type="password">
              <div ng-messages="regForm.regPass.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
              </div>
            </md-input-container>
            <md-input-container>
              <label>Confirm password</label>
              <input id="regConfPassInput" name="confPass" ng-pattern="vm.reg.pass" ng-model="vm.reg.confPass" required type="password"><!--cd-compare-pass="vm.regPass"-->
              <div ng-messages="regForm.confPass.$error" md-auto-hide="false">
                <div ng-message="required">This is required.</div>
                <div ng-message="pattern">Passwords do not match.</div>
              </div>
              
            </md-input-container>
            <md-button class="l-btn" md-colors="{'background': 'default-primary-300'}" type="submit">
              <span class="l-btn-text l-btn-text-light">Sign up</span>
            </md-button>
          </form>
        </md-content>
      </md-tab>
    </md-tabs>
  </div>
</md-content>